<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SeriesSelector.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SeriesSelector.Properties.Settings>
            <setting name="SourcePath" serializeAs="String">
                <value>C:\users\abo\desktop\source</value>
            </setting>
            <setting name="DestinationSeriesPath" serializeAs="String">
                <value>c:\users\abo\desktop\destination</value>
            </setting>
            <setting name="FileTypes" serializeAs="String">
                <value>mkv|avi|mp4</value>
            </setting>
            <setting name="CleanList" serializeAs="String">
                <value>720p|1080i|1080p|x264|DSR|HR-HDTV|HR.HDTV|HDTV|DVDMux|BluRay|BRay|Rip|DVDRip|BluRayRip|Blu|Ray|Xvid</value>
            </setting>
            <setting name="DestinationMoviesPath" serializeAs="String">
                <value>c:\users\abo\desktop\destination</value>
            </setting>
        </SeriesSelector.Properties.Settings>
    </userSettings>
</configuration>